<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Listar Filmes</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1>Filmes</h1>
    <div class="alert alert-success"
         th:if="!${#strings.isEmpty(mensagem)}" th:text="${mensagem}">
    </div>
    <table class="table">
        <tr>
            <th>Nome</th>
            <th>Gênero</th>
            <th>Data de Lançamento</th>
            <th>Sinopse</th>
            <th>Ações</th>
        </tr>
        <tr th:each="filme:${filmes}">
            <td th:text="${filme.nome}">
                <a th:href="@{/filme/editar/}+${filme.id}"
                   class="btn btn-outline-primary">Editar</a>
            </td>
            <td th:text="${filme.genero}"></td>
            <td th:text="${#temporals.format(filme.lancamento, 'dd/MM/yyyy')}"></td>
            <td th:text="${filme.sinopse}"></td>
            <td>
                <a th:href="@{/filme/editar/}+${filme.id}"
                   class="btn btn-outline-primary m-2">Editar</a>

                <button th:onclick="|filmeId.value = ${filme.id}|" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Remover
                </button>
            </td>
        </tr>
    </table>
    <a th:href="@{/filme/cadastrar}" class="btn btn-primary">Cadastrar</a>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Deseja realmente excluir o filme?
                </div>
                <div class="modal-footer">
                    <form th:action="@{/filme/remover}" method="post">
                        <input type="hidden" name="id" id="filmeId"/>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                        <button type="submit" class="btn btn-danger">Sim</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
